@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <dl class="dd_pad_bottom_10">
        <dt>Author</dt>
        <dd>Adam Vincent</dd>
        <dt>Date</dt>
        <dd>12/30/2018</dd>
        <dt>Github</dt>
        <dd><a href="https://github.com/entityadam">Entity Adam</a></dd>
        <dt>Twitter</dt>
        <dd><a href="https://twitter.com/entity_adam">Entity_Adam</a></dd>
        <dt>Blog</dt>
        <dd><a href="https://digiwebdev.net">Adam Vincent</a></dd>
    </dl>
</address>