@page
@model IndexModel
@{
    ViewData["Title"] = "View Components Demo";
}
<h1>@ViewData["Title"]</h1>
<a asp-page="RazorPageVcDemo" class="btn btn-lg btn-primary">Razor Pages</a>
<a asp-page="RazorPagesPrg" class="btn btn-lg btn-primary">Razor Pages with PRG</a>
<hr/>
<a asp-page="ApiDemo" class="btn btn-lg btn-primary">Razor Pages with API</a>
<a asp-page="ApiAjax" class="btn btn-lg btn-primary">Razor Pages with API &amp; Ajax</a>
